@model IEnumerable<EggProductionProject_MVC.Models.MemberVM.FriendVM>

@{
    ViewData["Title"] = "Index";
}

<h2>好友清單查詢</h2>
<input  id="inpKeyword" type="text"/>

<p>
    
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MemberName1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateAdded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemberName2)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.MemberName2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateAdded)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.MemberName1)
            </td>
            <td>
                
                <a asp-action="Details" asp-route-id="@item.FriendSid">Details</a> 
               
            </td>
        </tr>
}
    </tbody>
</table>




@section Scripts{
    <script>
        const keyword = document.querySelector("#inpKeyword")

        keyword.addEventListener("")

    </script>
}
