@model IEnumerable<EggProductionProject_MVC.Models.Article>

@{
    ViewData["Title"] = "Index";
}
<style>
    tr:hover {
        background-color: #f1f1f1;
    }

    tr {
        cursor: pointer;
    }
</style>

<h1>文章總數:共 @ViewData["TotalArticles"] 篇文章</h1>
<p>
    <a asp-action="Create" class="btn btn-primary">發布文章</a>
</p>
<form asp-action="Index" method="get">
    <div class="form-group">
        <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" class="form-control" placeholder="搜尋文章標題" />
    </div>

    <div class="form-group">
        <input type="submit" value="搜尋" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-secondary">重置</a>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>文章分類</th>
            <th>文章標題</th>
            <th>發文者</th>
            <th>是否刪除</th>
            <th>公開狀態</th>
            <th>創建日期</th>
            <th>更新日期</th>
            <th>編輯次數</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr style="cursor: pointer;" onclick="location.href='@Url.Action("Edit", new { id = item.ArticleSid })'">
                <td>@Html.DisplayFor(modelItem => item.ArticleCategoriesS.ArticleCategories)</td>
                <td>@Html.DisplayFor(modelItem => item.ArticleTitle)</td>
                <td>@Html.DisplayFor(modelItem => item.ArticleCreaterS.UserName)</td>
                @* 將true跟false換成是否 *@
                <td>
                    @if (item.DeleteOrNot == true)
                    {
                        <span>是</span>
                    }
                    else
                    {
                        <span>否</span>
                    }
                </td>

                <td>@Html.DisplayFor(modelItem => item.PublicStatusNoNavigation.StatusDescription)</td>
                <td> @Html.DisplayFor(modelItem => item.ArticleDate)</td>
                <td>@Html.DisplayFor(modelItem => item.ArticleUpdate)</td>
                <td> @Html.DisplayFor(modelItem => item.EditCountTimes)</td>
                <td>
                    @*          後台不會用到
                <a asp-action="Edit" asp-route-id="@item.ArticleSid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ArticleSid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ArticleSid">Delete</a> *@
                </td>
            </tr>
        }
    </tbody>
</table>