@model IEnumerable<EggProductionProject_MVC.Areas.Backstage.ViewModels.ItemViewModel>

@{
    ViewData["Title"] = "Index";
}

@section Styles {

    <style>
        .table-hover tbody tr:hover {
            background-color: #f0e68c; /* 淡黄色背景 */
            color: #333333; /* 深色文字 */
        }
        .textalign-left {
            text-align: left;
        }

        .bold-text {
            font-weight: bold;
            font-size: 28px;
        }

        th {
            font-size: 16px;
        }
    </style>

}

<h2 class="bold-text">分類項目清單</h2>

<p>
    <button type="button" class="btn btn-secondary btn-sm" onclick="location.href='@Url.Action("Create")'">
        <i class="fa-solid fa-square-plus"></i> 新增
    </button>
</p>
<table class="table container text-center table-striped table-hover">
    <thead>
        <tr>
            <th style="width: 10%">
                項目編號
            </th>
            <th style="width: 15%">
                產品中分類名稱
            </th>
            <th style="width: 15%">
                項目名稱
            </th>
            <th>
                項目描述
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubcategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemName)
                </td>
                <td class="textalign-left">
                    @Html.DisplayFor(modelItem => item.ItemDescription)
                </td>
                <td style="width: 20%">
                    <button type="button" class="btn btn-secondary btn-sm" onclick="location.href='@Url.Action("Edit", new { id = item.ItemNo })'">
                        <i class="fa-solid fa-edit"></i> 編輯
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
