@model EggProductionProject_MVC.Models.Edit

@{
    ViewData["Title"] = "Details";
}

<h1>編輯詳情</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            編輯前內容
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EditBefore)
        </dd>
        <dt class="col-sm-2">
            編輯後內容
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EditAfter)
        </dd>
        <dt class="col-sm-2">
            编辑時間
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EditTime)
        </dd>
        <dt class="col-sm-2">
            文章標題
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ArticleS.ArticleTitle)
        </dd>
        <dt class="col-sm-2">
            回覆編號
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReplyS.ReplySid)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">返回列表</a>
</div>
