@model EggProductionProject_MVC.Models.Reply

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Reply</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ReplyInfo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReplyInfo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReplyDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReplyDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReplyUpdate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReplyUpdate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EditTimes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EditTimes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TagMemberNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TagMemberNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeleteOrNot)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeleteOrNot)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ArticleCreatorS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArticleCreatorS.MemberSid)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ArticleS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArticleS.ArticleSid)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PublicStatusNoNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PublicStatusNoNavigation.PublicStatusNo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ReplySid" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
