@model IEnumerable<EggProductionProject_MVC.Models.Reply>

@{
    ViewData["Title"] = "Index";
}
<style>
    tr:hover {
        background-color: #f1f1f1;
    }

    tr {
        cursor: pointer;
    }
</style>
<h1>回覆總數:共 @ViewData["TotalArticles"] 篇文章</h1>
<form asp-action="Index" method="get">
    <div class="form-group">
        <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" class="form-control" placeholder="搜尋文章標題" />
    </div>

    <div class="form-group">
        <input type="submit" value="搜尋" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-secondary">重置</a>
    </div>
</form>
<table class="table">
    <thead>
        <table class="table">
            <thead>
                <tr>
                    <th>回覆標題</th>
                    <th>回覆者</th>
                    <th>回覆內容</th>
                    <th>是否刪除</th>
                    <th>公開狀態</th>
                    <th>回覆日期</th>
                    <th>更新日期</th>
                    <th>編輯次數</th>
                    <th></th>
                </tr>
            </thead>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr style="cursor: pointer;" onclick="location.href='@Url.Action("Edit", new { id = item.ReplySid })'">
            <td>@Html.DisplayFor(modelItem => item.ArticleS.ArticleTitle)</td>
            <td>@Html.DisplayFor(modelItem => item.ArticleCreaterS.UserName)</td>
            <td>@Html.DisplayFor(modelItem => item.ReplyInfo)</td>
                <td>
                    @if (item.DeleteOrNot == true)
                    {<span>是</span>}
                    else
                    {<span>否</span>}
                </td>
            <td>@Html.DisplayFor(modelItem => item.PublicStatusNoNavigation.StatusDescription)</td>
            <td>@Html.DisplayFor(modelItem => item.ReplyDate)</td>
            <td> @Html.DisplayFor(modelItem => item.ReplyUpdate)</td>
            <td>@Html.DisplayFor(modelItem => item.EditTimes)</td>


@*          後臺用不到
            <td>
                <a asp-action="Edit" asp-route-id="@item.ReplySid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ReplySid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ReplySid">Delete</a>
            </td> *@
        </tr>
}
    </tbody>
</table>