@model IEnumerable<EggProductionProject_MVC.Models.ProductImage>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductImagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UploadTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductS)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <partial name="_ProductImagePartial" model="@item" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImageDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UploadTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductS.ProductName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ProductImageSid">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ProductImageSid">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ProductImageSid">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
