@model IEnumerable<EggProductionProject_MVC.Models.Product>


@{
    ViewData["Title"] = "Index";
}

@section Styles {

    <style>
        .table-hover tbody tr:hover {
            background-color: #f0e68c; /* 淡黄色背景 */
            color: #333333; /* 深色文字 */
        }

        .textalign-left {
            text-align: left;
        }

        .bold-text {
            font-weight: bold;
            font-size: 28px;
        }

        .text-center {
            text-align: center; /* 水平置中 */
        }

        .align-middle {
            vertical-align: middle; /* 垂直置中 */
        }
    </style>

}

<h2 class="bold-text">商品清單</h2>

<div class="form-group">
    <label for="StoreSid" style="font-weight: bold; font-size: 20px">選擇賣場：</label>
    <select id="StoreSid" class="form-control" style="width: 250px">
        <option value="" class="text-center">全部賣場</option>
        @foreach (var store in ViewBag.Company)
        {
            <option value="@store.Value" class="text-center">@store.Text</option>
        }
    </select>
</div>

<table class="table table container text-center table-striped table-hover">
    <thead>
        <tr>
            @*             <th>
            @Html.DisplayNameFor(model => model.StoreS)
            </th> *@
            <th>
                商品編號
                @* @Html.DisplayNameFor(model => model.ProductNo) *@
            </th>
            <th style="width: 10%">
                商品名稱
            </th>
            <th>
                原價
            </th>
            <th style="width: 10%">
                庫存
            </th>
            @*             <th>
            @Html.DisplayNameFor(model => model.ItemNo)
            </th> *@
            <th style="width: 25%">
                商品描述
            </th>
            @*             <th>
            @Html.DisplayNameFor(model => model.Origin)
            </th> *@
            @*             <th>
            @Html.DisplayNameFor(model => model.Quanitity)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.Weight)
            </th> *@
            <th style="width: 15%">
                內容物成分
                @* @Html.DisplayNameFor(model => model.Component) *@
            </th>
            <th>
                上架時間
                @*                 @Html.DisplayNameFor(model => model.LaunchTime) *@
            </th>
            <th style="width: 10%">
                公開狀態編號
                @* @Html.DisplayNameFor(model => model.PublicStatusNoNavigation) *@
            </th>
            @*             <th>
            @Html.DisplayNameFor(model => model.SubcategoryNoNavigation)
            </th> *@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @*                 <td>
            @Html.DisplayFor(modelItem => item.StoreS.StoreSid)
            </td> *@
                <td class="text-center align-middle">
                    @Html.DisplayFor(modelItem => item.ProductNo)
                </td>
                <td class="text-center align-middle">
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td class="text-center align-middle">
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td class="text-center align-middle">
                    @Html.DisplayFor(modelItem => item.Stock)
                </td>
                @*             <td>
            @Html.DisplayFor(modelItem => item.ItemNo)
            </td> *@
                <td class="textalign-left">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                @*             <td>
            @Html.DisplayFor(modelItem => item.Origin)
            </td> *@
                @*             <td>
            @Html.DisplayFor(modelItem => item.Quanitity)
            </td> *@
                @*             <td>
            @Html.DisplayFor(modelItem => item.Weight)
            </td> *@
                <td class="textalign-left align-middle">
                    @Html.DisplayFor(modelItem => item.Component)
                </td>
                <td class="text-center align-middle">
                    @Html.DisplayFor(modelItem => item.LaunchTime)
                </td>
                <td class="text-center align-middle">
                    @Html.DisplayFor(modelItem => item.PublicStatusNoNavigation.StatusDescription)
                </td>
                @*                 <td>
            @Html.DisplayFor(modelItem => item.SubcategoryNoNavigation.SubcategoryNo)
            </td> *@
                <td class="text-center align-middle">
                    <button type="button" class="btn btn-secondary btn-sm" onclick="location.href='@Url.Action("Edit", new { id = item.ProductSid })'">
                        <i class="fa-solid fa-edit"></i> 公開狀態變更
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {

    <script>
        
    </script>

}