@model IEnumerable<EggProductionProject_MVC.Models.ShoppingRank>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ShoppingRank1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Eggimage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShoppingRank1)
            </td>
            <td>
                    <partial name="_ShoppingRankPartial" model="@item"/>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ShoppingRankNo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ShoppingRankNo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ShoppingRankNo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
