@model IEnumerable<EggProductionProject_MVC.Models.MemberVM.MemberVM>

@section Styles {
    <style>
        table.table-hover tbody tr:hover {
            background-color: #f0e68c !important; /* 淡黄色背景 */
            color: #333333 !important; /* 深色文字 */
        }
    </style>
}


<table class="table table-hover table-striped" style="color: #333333 ">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
            <th>@Html.DisplayNameFor(model => model.Phone)</th>
            <th>@Html.DisplayNameFor(model => model.BirthDate)</th>
            <th>@Html.DisplayNameFor(model => model.IsChickFarm)</th>
            <th>@Html.DisplayNameFor(model => model.ProfilePic)</th>
            <th>@Html.DisplayNameFor(model => model.IsBlocked)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>@Html.DisplayFor(modelItem => item.Phone)</td>
                <td>@Html.DisplayFor(modelItem => item.BirthDate)</td>
                <td>@(item.IsChickFarm == 1 ? "雞農" : "一般用戶")</td>
                <td><partial name="_ProfilePicPartialView" model="@item" /></td>
                <td>@(item.IsBlocked == 1 ? "禁用" : "活耀")</td>

                <td>
                    <a asp-action="Details" asp-route-id="@item.MemberSid">Details</a> |
                    <a asp-controller="Friends" asp-action="index" asp-route-id="@item.MemberSid">好友查詢</a> |
                    <a asp-controller="Logs" asp-action="index" asp-route-id="@item.MemberSid">登入查詢</a> |
                    <a  asp-action="Edit" asp-route-id="@item.MemberSid">修改</a>|
                    <button type="button" class=" edit-member-btn" data-member-id="@item.MemberSid">修改</button>
                   

                </td>
            </tr>
        }
    </tbody>
</table>




@section Scripts{
    <script>
      


        $(document).ready(function () {
            // 绑定点击事件到所有带有class 'edit-member-btn' 的按钮
            $('.edit-member-btn').on('click', function () {
                var memberId = $(this).data('member-id'); // 获取会员ID

                // 发起AJAX请求获取会员详细信息
                $.get('/Backstage/Members/GetMemberDetails', { id: memberId }, function (data) {
                    if (data) {
                        // 调用函数加载数据到Modal中
                        loadMemberData(data);

                        // 显示Modal
                        $('#editMemberModal').modal('show');
                    } else {
                        alert('无法加载会员数据，请稍后重试。');
                    }
                }).fail(function () {
                    alert('请求失败，请检查网络连接。');
                });
            });
        });

        // 用于加载会员数据到Modal中的函数
        function loadMemberData(data) {
            $('#memberName').val(data.Name);
            $('#memberEmail').val(data.Email);
            $('#memberPhone').val(data.Phone);
            $('#memberBirthDate').val(data.BirthDate);
            $('#memberIsChickFarm').val(data.IsChickFarm.toString());
            $('#memberIsBlocked').val(data.IsBlocked.toString());
        }
    </script>
}